<header id="header">
	<div class="container">
		<div class="header-top">
			<a href="{{options.link}}" class="logo-holder">
				<img src="{{options.logo.url}}" alt="Інститут монокристалів НАН України" class="logo-img">
			</a>
			<div class="header-contact">
				<div class="languages-holder">
					{% for item in menu_lang.items %}
					<a href="{{item.url}}" class="{{item.class}}">
						{{item.post_title}}
					</a>
					{% endfor %}
					{# <a href="#" class="ua-lang active">
						<img src="{{theme.link}}/static/images/ua.svg" alt="ua" class="lang-img">
						<span class="lang-text underline">Укр</span>
					</a>
					<a href="#" class="eng-lang">
						<img src="{{theme.link}}/static/images/eng.svg" alt="eng" class="lang-img">
						<span class="lang-text underline">Eng</span>
					</a> #}
				</div>
				<ul class="contact-holder">
					{% if options.address %}
						<li>{{options.address}}</li>
					{% endif %}
					{% for phone in options.phones %}
						<li><a href="tel:{{phone.number}}" class="underline">{{phone.number}}</a></li>
					{% endfor %}
					{% if options.email %}
						<li><a href="mailto:{{options.email}}" class="underline">{{options.email}}</a></li>
					{% endif %}
				</ul>
				<div class="social-holder">
				{% if options.socials %}
					{% set select='' %}


					{% for social in options.socials %}

						{% if social.select=='youtube' %}{% set select='youtube' %}{% endif %}
						{% if social.select=='facebook' %}{% set select='fb' %}{% endif %}



					<a href="#" class="social-link"><img src="{{theme.link}}/static/images/{{select}}.svg" alt="" class="social-icon"></a>
					
					{% endfor %}
				{% endif %}
				</div>
			</div>
		</div>

		<nav class="navbar underline">
			<a href="#navigation" class="dropdown" uk-toggle="target: #navigation; animation: uk-animation-fade"><span class="dropdown-icon"></span></a>

			<ul class="navigation" id="navigation" hidden>
			{% for item in menu.items %}

				{% if item.children %}
					<li class="navigation-item">
						<a href="#navigation-{{item.id}}" class="navigation-link uk-button" type="button">{{item.title}}</a>
						<ul class="submenu uk-drop" id="navigation-{{item.id}}" uk-drop="mode: click">
							{% for child in item.children %}
								{% if child.children %}
									<li class="navigation-item">
										<a href="#sub-submenu-{{child.id}}" class="navigation-link" uk-toggle="target: #sub-submenu-{{child.id}}; animation: uk-animation-fade">{{ child.title }}</a>
												<ul class="sub-submenu " id="sub-submenu-{{child.id}}" hidden>
												{% for subchild in child.children %}
												<li class="navigation-item">
													<a href="{{ subchild.link }}" class="navigation-link">{{ subchild.title }}</a>
												</li>
												{% endfor %}
											</ul>
									</li>
								{% else %}
									<li class="navigation-item"><a href={{child.link}} class="navigation-link">{{child.title}}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
						
					</li>
				{% else %}
					<li class="navigation-item"><a href={{item.link}} class="navigation-link">{{item.title}}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
		</nav>
		<span class="bg-img bg-page bg-img-1"><img src="{{theme.link}}/static/images/bg-img-1.svg" alt="img"></span>
	</div>
</header>